.dashboard {
    background-color: #f0f0f0; /* Define a cor de fundo */
    max-width: 100vw; /* Define a largura máxima do componente como a largura da tela */
    max-height: 100vh; /* Define a altura máxima do componente como a altura da tela */
    overflow: hidden; /* Impede que o conteúdo do componente ultrapasse a largura e altura máximas */
}